body {
  background-image:url('http://subtlepatterns.com/patterns/concrete_wall.png');
  background-attachment: fixed;
	padding-top: 60px; /* 60px to make the container go all the way to the bottom of the topbar */
}
.hero-unit {
	background-image: url("http://subtlepatterns.com/patterns/purty_wood.png");
}
.classes, #collegeselector, #step1wrapper, #step2wrapper, #resultswrapper {
	display: none;
}
#showallclasses{
  cursor: pointer;
}
td {
  width: 50%;
}
 #loader{
  padding-left: 5px;
  height: 20px;
  width: 20px;
 }

 table {
  margin-bottom:  40px !important;
 }

a{
  cursor: pointer;
}