.navbar, #step1wrapper, #step2wrapper, .hero-unit {
	display: none !important;
}
table {
	display: inline-table;
	width: 3.5in !important;
}
table:nth-child(odd){
	margin-right: 0.25in;
}
.btn{
	display: none;
}
thead {
	display: table-header-group;
}
tbody {
	display: table-row-group;
}
tr {
	display: table-row;
}
td {
	display: table-cell;
	width: 50%;
	padding: 4px !important;
}
th {
	display: table-cell;
	padding: 4px !important;
}
td h3 {
	display: block;
}
td p {
	display: none;
}
h1 {
	font-size: 20px;
	line-height: 26px;
}
h3 {
	font-size: 15px;
	line-height: 20px;
}
.well {
	background-color: white;
	border: none;
}
legend {
	display: none;
}
#whitespace {
	display: none;
}
.offset2 {
	margin-left: 0px;
}
.span8 {
	width: 100%;
}
.container {
	width: 100%;
}
.row {
	margin-left: 0px;
}

tr{
	height: 1in;
}